:root {
    --background: rgba(192, 217, 248, 1);
    --primarycolor: #c0d9f8;
    --primarylight: #f3ffff;
    --primarydark: #8fa8c5;
    --secondarycolor: #606060;
    --secondarylight: #8d8d8d;
    --secondarydark: #363636;


}

*, *::before, *::after{
    box-sizing: border-box;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

body {
    margin: 0;
    background:  var(--secondarycolor);
    font-weight: 400;
    font-size: 16px;
    
}

.writing {
  padding-left: 25px;
  padding-right:25px;
}

.content {
    background-color: var(--primarylight);
    background-blend-mode: multiply;
    background-size: cover;
    place-items: center;
    margin-bottom: 10px;
    min-height:100%;
    box-shadow: 0 0 3em rgba(0,0,0, 0.15);
    padding-top: 90px;
}

header {
    background: var(--primarycolor);
    text-align: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 75px;
}

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--primarycolor);
    width: 100%;
    transform: scale(1,0);
    transition: transform 400ms ease-in-out;
    transform-origin: top;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;

}

nav a{
    color: var(--secondarycolor);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.nav-toggle{
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display:    flex;
    align-items:    center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after  {
    display:block;
    background: var(--secondarydark);
    height: 2px;
    width: 2.5em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: ' ';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav a:hover{
    color: #1b1b1b;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.row {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    padding-top: 10px;

}

.company {
  font-weight: bold;
  font-size: 30px;
  height: 30px;
}

.workduration {
    font-weight: normal;
    font-size: 15px;
    height: 15px;
}

.workposition {
  font-weight: normal;
  font-size: 20px;
  height: 15px;
}

.wrap{
    display: flex;
}

.one,.two{
    width: 100%;
    padding: 5px;
}

.profile {
    max-width:300px; 
    height: auto;
}

@media screen and (min-width: 2000px) {
    .content {
        font-size: 200%;
    } 
    .company, .workduration, .workposition {
        font-size: 150%;
    }
}

@media screen and (min-width: 1450px) {
    .nav-toggle-label{
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .content {
        margin-left: 300px;
        margin-right: 300px;
    }

    .logo {
        padding-top: 10px;
        grid-column: 2 / 3;
    
    }

    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
        /*Edge support*/
        
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav ul {
        display: flex;
        
    }
    
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: #363636;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before{
        transform: scale(1,1);
    }
  


    .profile {
        width:500px; 
        height: auto;
    }
  
}

@media screen and (min-width: 850px) {
    .wrap{
        display: flex;
      }
    
  
      .one{
        padding-right: 10px;
        width: 30%;
      }
    
      .two {
        padding-left: 10px;
        width:70%;
      }
}