:root {
    --background: rgba(192, 217, 248, 1)
}

body {
    margin: 0;
    background:   #606060;


}

.container {
    width: 80%;
    margin: 0 auto;
}

.content {
    height: 200vh;
    margin: 5px 100px 5px;
    background-color: #f3ffff;
    place-items: center;
}

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1,0);
    transition: transform 400ms ease-in-out;
    transform-origin: top;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    padding-bottom: 1em;
    margin-bottom: 1em;

}

nav a{
    color: #424242;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}

.nav-toggle{
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display:    flex;
    align-items:    center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after  {
    display:block;
    background: #363636;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: ' ';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav a:hover{
    color: #1b1b1b;
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
}

